.nav .nav-group {
  margin-bottom: 1.5rem;
  border-top: 1px solid var(--theme-elevation-100);
  padding-top: 1rem;
}

.nav .nav-group__label {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.7rem;
  opacity: 0.6;
}